:root {
  color: rgba(255, 255, 255, 0.87);
}

body {
  width: 393px;
  min-height: 852px; /* Ensure the body has a minimum height */
  padding: 16px;
  margin: 0 auto;
  background-color: #F5F3EF;
  position: relative;  /* Needed for absolute positioning of NavBar */
}

html {
  height: 100%;
  background-color: #5E6F62;
}
