:root {
  color: rgba(255, 255, 255, 0.87);
}

body {
  width: 393px;
  min-height: 852px; 
  margin: 0 auto;
  zoom: 150%;
 

  
  background-color: #F5F3EF;
  position: relative;  

}

html {
  background-color: #5E6F62;
}
