.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%; /* Full width */
  }
  
  .content {
    flex: 1;  /* Makes content take the available space */
  }
  
  .navbar {
    background-color: black !important;
    padding: 10px 0;
    width: 100%;
    position: relative; /* Navbar stays below the content */
  }
