.navbar {
    padding-top: 19px ;
    padding-bottom: 33px;
    padding-left: 32px;
    padding-right: 32px;


    position: fixed;
  bottom: 0;       
    left: 0;           
    display: flex;
    justify-content: center;  /* Align the navbar content centrally */
    
    
    background-image: url(../assets/NavBar.svg);
    width: 329px;
  }
  

  
 
  /*icons*/
  .Home {
    width: 28.444px;
    height: 32px;
  }

  .Search{
    width: 31px;
    height: 31px;
  }

  .Tips{
    width: 32px;
    height: 32px;
  }

.Profile{
  width: 32px;
  height: 32px;
}