.navbar {
    background-color: white;
    padding-top: 19px ;
    padding-bottom: 33px;
    padding-left: 32px;
    padding-right: 32px;
    width: 393px;



    position: absolute;  
    bottom: 0;        
    left: 0;           
    display: flex;
    justify-content: center;  /* Align the navbar content centrally */
}
  
.navbar-links {
  display: flex;
  justify-content: center; /* Or flex-start, depending on alignment */
  align-items: center;
  gap: 30px; /* Set specific spacing between icons */
  padding: 0 10px;
  }
  
 
  /*icons*/
  .Home {
    width: 28.444px;
    height: 32px;
  }

  .Search{
    width: 31px;
    height: 31px;
  }

  .Tips{
    width: 32px;
    height: 32px;
  }

.Profile{
  width: 32px;
  height: 32px;
}